.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

/* .footer {
  height: 20vh
}

.col {
  min-height: 50vh
}*/

/* -------  Media Query ------- */

/*for desktop*/

@media all and (min-width: 800px){

.side-bar { 
  height: 110vh;
}
}

